
@import url('https://fonts.googleapis.com/css2?family=Alien+Block&family=Comic+Relief:wght@400;700&family=Cookie&family=Fredoka:wght@300..700&family=Indie+Flower&family=Orbitron:wght@400..900&family=Poppins:wght@500&family=Shadows+Into+Light&family=Style+Script&display=swap');
@import "tailwindcss";

.orbitron {
    font-family: "Orbitron", sans-serif;
}

.styleScript{
   font-family: "Style Script", cursive;
}

@keyframes role{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    20%{
        opacity: 1;
        transform: translateY(0);
    }

     80% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.animate-role{
    animation: role 2.5s ease-in-out;
}


body{
    background: whitesmoke;
}